.work-order-schedule {
  height: 100%;

  .header {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
      color: rgba(3, 9, 41, 1);
      font-size: 24px;
      font-weight: 500;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 24px;
    padding-top: 26px;

    .timescale-container {
      display: flex;
    }

    .timescale-display {
      width: 100%;
      height: 100%;
      display: flex;

      .left-panel {
        width: clamp(120px, 30%, 382px);

      }

      .right-panel {
        flex: 1;
        overflow-x: auto;
      }

    }
  }
}
